{% extends 'base.html.twig' %}

{% block title %}New Article | {{ app_name }}{% endblock %}

{% block body %}
    <section class="panel">
        <p class="meta">Admin area</p>
        <h1>Create article</h1>
        <p>New entries start as draft by default and receive a unique slug automatically.</p>

        {% include 'admin/article/_form.html.twig' with {
            form: form,
            submit_label: 'Create article'
        } %}
    </section>
{% endblock %}
